@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:wght@200;300;400;500&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  margin-top: 10px;
  background: #edb506;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 60px;
}

.logo {
  display: flex;
  color: #faf2d3;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: 5rem;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: #faf2d3;
  font-weight: 400;
}

.login-button button {
  display: flex;
  border: none;
  background-color: #2f58cd;
  padding: 10px 15px;
  border-radius: 4px;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

.tela-inicio {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  background: #edb506;
}

.tela-inicio-titulo {
  display: grid;
  text-align: start;
  padding: 60px;
}

.tela-inicio-titulo h1 {
  font-size: 3rem;
  color: #faf2d3;
}

.tela-inicio-img img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  object-position: center top;
}

@media screen and (max-width: 730px) {
  header {
    margin-top: 0px;
  }

  .navbar {
    padding: 1.5rem 4rem;
  }

  .nav-item {
    display: none;
  }

  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    text-align: start;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .mobile-menu .login-button {
    display: block;
    padding: 1rem 2rem;
  }

  .mobile-menu .login-button button {
    width: 100%;
    padding-left: 30px;
  }

  .open {
    display: block;
  }

  .tela-inicio {
    grid-template-columns: 1fr;
  }

  .tela-inicio-img {
    display: flex;
    justify-content: center;
  }

  .tela-inicio-img img {
    width: 70%;
  }

  .tela-inicio-titulo {
    text-align: start;
  }

  .tela-inicio-titulo h1 {
    font-size: 2.1rem;
  }
}
